<% include ../partials/header %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to <span class="Knox">Knox</span>Golf</h1>
            <p>See what Knoxville has to offer for your golf game</p>
            <p><a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Local Course</a></p>
        </div>
    </header>
    
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campsite) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campsite.image %>" alt="New campground image had incorrect URL">
                    <div class="caption">
                        <h4><%= campsite.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campsite._id %>" class="btn btn-info">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>